body {
    --icon-color: var(--rp-text);
    --icon-color-hover: var(--rp-text);
    --background-modifier-hover: var(--rp-highlightMed)
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img:hover {
  transform: scale(1.04);
  transition: transform 0.25s ease-in-out 0s;
}
.community-theme img:hover {
  transform: none;
}
:root {
	  --font-size-normal: 18px;
	  --font-size-code: 15px;
	  --font-size-side-dock: 15px;
	  --font-size-side-dock-title: 18px;
	  --font-size-status-bar: 15px;
	  --font-size-h1: 26px;
	  --font-size-h2: 25px;
	  --font-size-h3: 21px;
	  --font-size-h4: 20px;
	  --font-size-h5: 19px;
	  --font-size-h6: 18px;
      --font-family-editor: "Inter", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
      --font-family-preview: Georgia, "Times New Roman", serif;
      --font-family-code: "JetBrains Mono", "Fira Code", "Courier New", monospace;
      --font-family-accent: "Inter", "Segoe UI", "Helvetica Neue", sans-serif;
}
/* @settings
name: Rosé Pine Themes
id: rosé-pine-theme-settings
settings:
  -
    id: rosé-pine-theme
    title: Theme variants
    description: Select your preferred theme, Rosé Pine Moon is enabled by setting light mode on
    type: class-select
    allowEmpty: false
    default: rose-norm
    options:
      -
        label: 'Rosé Pine'
        value: rose-norm
      -
        label: 'Rosé Pine Moon'
        value: rose-moon
  -
    id: rosé-pine-theme-accents
    title: Theme accent
    description: Select your preferred accent
    type: class-select
    allowEmpty: false
    default: rp-accent-full
    options:
      -
        label: Full palette
        value: rp-accent-full
      -
        label: Love
        value: rp-accent-love
      -
        label: Rose
        value: rp-accent-rose
      -
        label: Gold
        value: rp-accent-gold
      -
        label: Iris
        value: rp-accent-iris
      -
        label: Pine
        value: rp-accent-pine
      -
        label: Foam
        value: rp-accent-foam
    */
/* @settings
name: "Rose Pine Header Colours"
id: rose-pine-headers
settings:
  -
    id: rp-h1
    title: H1 colour
    description: Select your H1 colour
    type: variable-select
    allowEmpty: false
    default: var(--rp-love)
    options:
    -
      label: Love
      value: var(--rp-love)
    -
      label: Rose
      value: var(--rp-rose)
    -
      label: Gold
      value: var(--rp-gold)
    -
      label: Iris
      value: var(--rp-iris)
    -
      label: Pine
      value: var(--rp-pine)
    -
      label: Foam
      value: var(--rp-foam)
  -
    id: rp-h2
    title: H2 colour
    description: Select your H2 colour
    type: variable-select
    allowEmpty: false
    default: var(--rp-iris)
    options:
    -
      label: Love
      value: var(--rp-love)
    -
      label: Rose
      value: var(--rp-rose)
    -
      label: Gold
      value: var(--rp-gold)
    -
      label: Iris
      value: var(--rp-iris)
    -
      label: Pine
      value: var(--rp-pine)
    -
      label: Foam
      value: var(--rp-foam)
  -
    id: rp-h3
    title: H3 colour
    description: Select your H3 colour
    type: variable-select
    allowEmpty: false
    default: var(--rp-rose)
    options:
    -
      label: Lovesans-serif
      value: var(--rp-love)
    -
      label: Rose
      value: var(--rp-rose)
    -
      label: Gold
      value: var(--rp-gold)
    -
      label: Iris
      value: var(--rp-iris)
    -
      label: Pine
      value: var(--rp-pine)
    -
      label: Foam
      value: var(--rp-foam)
  -
    id: rp-h4
    title: H4 colour
    description: Select your H4 colour
    type: variable-select
    allowEmpty: false
    default: var(--rp-gold)
    options:
    -
      label: Love
      value: var(--rp-love)
    -
      label: Rose
      value: var(--rp-rose)
    -
      label: Gold
      value: var(--rp-gold)
    -
      label: Iris
      value: var(--rp-iris)
    -
      label: Pine
      value: var(--rp-pine)
    -
      label: Foam
      value: var(--rp-foam)
  -
    id: rp-h5
    title: H5 colour
    description: Select your H5 colour
    type: variable-select
    allowEmpty: false
    default: var(--rp-foam)
    options:
    -
      label: Love
      value: var(--rp-love)
    -
      label: Rose
      value: var(--rp-rose)
    -
      label: Gold
      value: var(--rp-gold)
    -
      label: Iris
      value: var(--rp-iris)
    -
      label: Pine
      value: var(--rp-pine)
    -
      label: Foam
      value: var(--rp-foam)
  -
    id: rp-h6
    title: H6 colour
    description: Select your H6 colour
    type: variable-select
    allowEmpty: false
    default: var(--rp-pine)
    options:
    -
      label: Love
      value: var(--rp-love)
    -
      label: Rose
      value: var(--rp-rose)
    -
      label: Gold
      value: var(--rp-gold)
    -
      label: Iris
      value: var(--rp-iris)
    -
      label: Pine
      value: var(--rp-pine)
    -
      label: Foam
      value: var(--rp-foam)
*/
/* @settings
name: "Rose Pine Misc Config"
id: rose-pine-misc
settings:
  -
    id: rp-highlight
    title: Highlight Colour
    description: Select your highlighted colour
    type: variable-select
    allowEmpty: false
    default: var(--rp-highlightHigh)
    options:
    -
      label: Low
      value: var(--rp-highlightLow)
    -
      label: Med
      value: var(--rp-highlightMed)
    -
      label: High
      value: var(--rp-highlightHigh)
    -
      label: Love
      value: var(--rp-love)
    -
      label: Rose
      value: var(--rp-rose)
    -
      label: Gold
      value: var(--rp-gold)
    -
      label: Iris
      value: var(--rp-iris)
    -
      label: Pine
      value: var(--rp-pine)
    -
      label: Foam
      value: var(--rp-foam)
  -
    id: font-family-editor
    title: Editor font
    description: Font used for the editors modes
    type: variable-text
    default: '"Inter", "Segoe UI", Roboto, "Helvetica Neue", sans-serif'
  -
    id: font-family-preview
    title: Preview font
    description: Font used for the preview modes
    type: variable-text
    default: 'Georgia, "Times New Roman", serif'
  -
    id: font-family-accent
    title: Accent font
    description: Font used for the buttons and other accents
    type: variable-text
    default: '"Inter", "Segoe UI", "Helvetica Neue", sans-serif'
  -
    id: font-family-code
    title: Code font
    description: Font used for the code blocks
    type: variable-text
    default: '"JetBrains Mono", "Fira Code", "Courier New", monospace'
*/
.rp-accent-rose,
.rp-accent-full {
    --rp-accent: var(--rp-rose)
}
.rp-accent-iris {
    --rp-accent: var(--rp-iris)
}
.rp-accent-pine {
    --rp-accent: var(--rp-pine)
}
.rp-accent-foam {
    --rp-accent: var(--rp-foam)
}
.rp-accent-gold {
    --rp-accent: var(--rp-gold)
}
.rp-accent-love {
    --rp-accent: var(--rp-love)
}
.body {
  --blockquote-background-color: var(--code-background);
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  background-color: var(--code-background);
  border: 0px solid;
  border-color: var(--blockquote-border) !important;
  border-left-width: 4px !important;
  border-radius: 0 8px 8px 0;
  line-height: 1.5em;
  margin: 30px 0px;
  font-style: italic;
}
.markdown-preview-view blockquote {
  background-color: var(--code-background);
  border: 0px solid;
  border-color: var(--blockquote-border) !important;
  border-left-width: 4px !important;
  border-radius: 0 8px 8px 0;
  line-height: 1.5em;
  margin: 30px 0px;
  font-style: italic;
}
.markdown-preview-view code {
  font-size: var(--font-size-code);
}
.cm-header-1,
.markdown-preview-view h1 {
  font-family: var(--font-family-editor) !important;
  font-weight: 500;
  font-size: var(--font-size-h1);
  color: var(--rp-h1);
}
.cm-header-2,
.markdown-preview-view h2 {
  font-family: var(--font-family-editor) !important;
  font-weight: 500;
  font-size: var(--font-size-h2);
  color: var(--rp-h2);
}
.cm-header-3,
.markdown-preview-view h3 {
  font-family: var(--font-family-editor) !important;
  font-weight: 500;
  font-size: var(--font-size-h3);
  color: var(--rp-h3);
}
.cm-header-4,
.markdown-preview-view h4 {
  font-family: var(--font-family-editor) !important;
  font-weight: 500;
  font-size: var(--font-size-h4);
  color: var(--rp-h4);
}
.cm-header-5,
.markdown-preview-view h5 {
  font-family: var(--font-family-editor) !important;
  font-weight: 500;
  font-size: var(--font-size-h5);
  color: var(--rp-h5);
}
.cm-header-6,
.markdown-preview-view h6 {
  font-family: var(--font-family-editor) !important;
  font-weight: 500;
  font-size: var(--font-size-h6);
  color: var(--rp-h6);
}
s,
.cm-strikethrough {
  color: var(--text-muted);
}
.cm-em,
em {
  color: var(--rp-iris) !important;
  font-family: var(--font-family-accent) !important;
}
.cm-em.cm-formatting-em {
  display: inline-flex;
  width: 0.45rem;
  font-size: 0.6rem;
  vertical-align: text-top;
}
.theme-light,
.theme-light.rose-dawn {
    --rp-base: #faf4ed;
    --rp-surface: #fffaf3;
    --rp-overlay: #f2e9e1;
    --rp-muted: #9893a5;
    --rp-subtle: #797593;
    --rp-text: #575279;
    --rp-love: #b4637a;
    --rp-gold: #ea9d34;
    --rp-rose: #d7827e;
    --rp-iris: #907aa9;
    --rp-pine: #286983;
    --rp-foam: #56949f;
    --rp-highlightLow: #f4ede8;
    --rp-highlightMed: #dfdad9;
    --rp-highlightHigh: #cecacd;
}
.theme-dark.rose-moon {
    --rp-base: #232136;
    --rp-surface: #2a273f;
    --rp-overlay: #393552;
    --rp-muted: #6e6a86;
    --rp-subtle: #908caa;
    --rp-text: #e0def4;
    --rp-love: #eb6f92;
    --rp-gold: #f6c177;
    --rp-rose: #ea9a97;
    --rp-iris: #c4a7e7;
    --rp-pine: #3e8fb0;
    --rp-foam: #9ccfd8;
    --rp-highlightLow: #2a283e;
    --rp-highlightMed: #44415a;
    --rp-highlightHigh: #56526e;
}
.theme-dark,
.theme-dark.rose-norm {
    --rp-base: #191724;
    --rp-surface: #1f1d2e;
    --rp-overlay: #26233a;
    --rp-muted: #6e6a86;
    --rp-subtle: #908caa;
    --rp-text: #e0def4;
    --rp-love: #eb6f92;
    --rp-gold: #f6c177;
    --rp-rose: #ebbcba;
    --rp-iris: #c4a7e7;
    --rp-pine: #31748f;
    --rp-foam: #9ccfd8;
    --rp-highlightLow: #21202e;
    --rp-highlightMed: #403d52;
    --rp-highlightHigh: #524f67;
}
.theme-light,
.theme-dark {
  --background-primary: var(--rp-surface);
  --background-primary-alt: var(--rp-base);
  --background-secondary: var(--rp-base);
  --background-secondary-alt: var(--rp-base);
  --background-accent: var(--rp-base);
  --background-modifier-border: var(--rp-highlightMed);
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: var(--rp-pine);
  --background-modifier-error: var(--rp-love);
  --background-modifier-error-hover: var(--rp-love);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: var(--rp-accent);
  --text-accent-hover: var(--rp-accent);
  --text-normal: var(--rp-text);
  --text-muted: var(--rp-muted);
  --text-faint: var(--rp-accent);
  --text-highlight-bg: var(--rp-highlight);
  --text-error: var(--rp-love);
  --text-error-hover: var(--rp-love);
  --text-selection: var(--rp-highlightHigh);
  --text-on-accent: var(--rp-accent);
  --interactive-normal: var(--rp-overlay);
  --interactive-hover: var(--rp-highlightLow);
  --interactive-accent: var(--rp-highlightLow);
  --interactive-accent-active: var(--rp-highlightMed);
  --interactive-accent-hover: var(--rp-highlightMed);
  --scrollbar-active-thumb-bg: var(--rp-overlay);
  --scrollbar-bg: var(--rp-overlay);
  --scrollbar-thumb-bg: var(--rp-overlay);
  --rp-h1: var(--rp-love);
  --rp-h2: var(--rp-iris);
  --rp-h3: var(--rp-rose);
  --rp-h4: var(--rp-gold);
  --rp-h5: var(--rp-foam);
  --rp-h6: var(--rp-pine);
  --inline-code: var(--rp-iris);
  --code-block: var(--rp-foam);
  --pre-code: var(--rp-highlightLow);
  --blockquote-border: var(--rp-love);
  --vim-cursor: var(--rp-rose);
  --border-color: var(--rp-highlightMed);
  --font-monospace: var(--font-family-code);
}
