body {
    --icon-color: var(--rp-text);
    --icon-color-hover: var(--rp-text);
    --background-modifier-hover: var(--rp-highlightMed)
}

mobile-navbar-actions {
  color: var(--icon-color);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


img:hover {
  transform: scale(1.04);
  transition: transform 0.25s ease-in-out 0s;
}

.community-theme img:hover {
  transform: none;
}
